DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=12345678
DATABASE_NAME=raceweekend
GYG_PARTNER_ID=OWXIEN9
TICKETMASTER_API_KEY=
TICKETMASTER_AFFILIATE_ID=
CONTACT_EMAIL=onlyforthe20thcentury@gmail.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
OPENF1_BASE_URL=https://api.openf1.org/v1
